@model PersonViewModel
@{
    ViewData["Title"] = $"Viewing {Model.FirstName} {Model.LastName}";    
}

<h2>@Model.FirstName @Model.LastName</h2>
<hr />
<h5>Age: @Model.Age</h5>
<p>&nbsp;</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", "Home")
</p>