@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @if (Model.People.Any())
    {
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var person in Model.People)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Age</td>
                <td>
                    @Html.ActionLink("View", "View", "Person", new { id=person.Id })
                    |
                    @Html.ActionLink("Edit", "Edit", "Person", new { id=person.Id })
                    |
                    @Html.ActionLink("Delete", "Delete", "Person", new { id=person.Id })
                </td>
            </tr>
        }
        </tbody>
    </table>
    }
    else
    {
        <strong>No people exist</strong>
    }
</div>
<div>
    @Html.ActionLink("Create", "Create", "Person")
</div>
